.title {
    margin-top: 30px;
    color: black;
    text-decoration:none;
    text-align:center;
    font-weight: bolder;
}
.container {
    text-align:center;
}
.des {
    font-weight: bolder;
    color:lightcoral;
}
.howtouse {
    margin-top:30px;
}
.result {
    margin-top:30px;
    margin-bottom: 120px;
}